
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    box-sizing: content-box;
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: black;
}

.frames {
    border: black solid 1px; 
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-left: 2px;
    width: 46vw;
}

iframe {
    height: 15vw;
    width: 15vw;
    border: black solid 1px; 
    align-items: center;
}

.shrinkToFit {
    width: 100%;
    height: 100%;
}

.smallImg {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

#recommendations {
    display: grid;
    grid-template-areas: "a b c";
}

.parentImg {
    text-align: center;
}